button:focus
{
	background-color: transparent;
}

#judul
{
	width: 100%;
	height: 60px;
	top: 0;
	margin-top: 0;
	background-image: url("../img/header.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 20;
	position: fixed;
}

#map-container
{
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #8bb54a;
	position: fixed;
	padding-top: 5%;
	width: 100%;
	height: 100%;
}

#map
{
	width: 1200px;
	height: 600px;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	padding: 0;
	bottom: 0px;
}

#map tr td
{
	width: 150px;
	height: 150px;
}

.bangunan, .tombol-bangunan
{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.tombol-bangunan
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: transparent;
	outline: transparent;
}

.tooltip
{
	top: 20%;
	width: 100%;
	position: relative;
}

.tooltip-balon
{
	width: 80%;
	padding: 5%;
	margin: auto;
	border: 1px solid #fff;
	background-color: rgba(1,1,1,0.5);
	color: #fff;
	border-radius: 5px;
	text-align: center;
}

.panah
{
	margin: auto;
	border-top: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	width: 0;
}

#tombol-pabrik
{
	background-image: url("../img/pabrik.png");
}

#tombol-pabrik:hover
{
	background-image: url("../img/pabrik-h.png");
}

#tooltip-pabrik
{
	display: block;
}

#tombol-cafe
{
	background-image: url("../img/cafe.png");
}

#tombol-cafe:hover
{
	background-image: url("../img/cafe-h.png");
}

#tombol-kantor
{
	background-image: url("../img/kantor.png");
}

#tombol-kantor:hover
{
	background-image: url("../img/kantor-h.png");
}

#tombol-hotel
{
	background-image: url("../img/hotel.png");
}

#tombol-hotel:hover
{
	background-image: url("../img/hotel-h.png");
}

#tombol-toko
{
	background-image: url("../img/toko.png");
}

#tombol-toko:hover
{
	background-image: url("../img/toko-h.png");
}

#logo
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	border-top: 2px white solid;
}

#konten
{
	background-color: #fff;
	text-align: center;
	width: 100%;
	height: 80%;
	padding: 10%;
	top: 200%;
	z-index: 2;
	position: absolute;
}

#konten p
{
	text-indent: 50px;
	font-size: 20px;
	line-height: 25px;
	text-align: justify;
}

#footer
{
	position: absolute;
	z-index: 2;
	top: 280%;
	padding-top: 2%;
	text-align: center;
	width: 100%;
	height: 20%;
	margin: 0;
}

.sub-cat
{
	position: fixed;
	height: 100%;
	padding: 10% 0;
	overflow-x: hidden;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	border-right: 5px solid #fff;
	left: -255px;
	top: 0;
	margin-top: 0;
}

.sub-cat ul
{
	width: 100%;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

.sub-cat ul li
{
	list-style: none;
}

.sub-cat ul li a
{
	width: 250px;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	padding: 20px;
	display: block;
}

.sub-cat ul li:nth-child(odd) a
{
	background-color: rgba(255,255,255,0.5);
}

.sub-cat ul li:nth-child(even) a
{
	background-color: rgba(0,0,0,0.5);
}

.sub-cat ul li:nth-child(odd) a:hover, .sub-cat ul li:nth-child(even) a:hover
{
	background-color: rgba(100,100,100,0.5);
	padding-left: 30px;
	border-left: 5px solid #fff;
}

[title=Kembali]
{
	margin: 50px;
}